<% layout("/layouts/boilerplate") -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password Form</title>
  </head>
  <body>
    <style>
      .otpsent {
        min-width: fit-content;
        border: 1px solid black;
        text-align: center;
        font-size: larger;
        background-color: rgb(185, 243, 99);
        border-radius: 2rem;
        padding: 1rem;
      }
      .mob {
        display: none;
      }
      @media only screen and (max-width: 435px) {
        .Desk {
          display: none;
        }
        .mob {
          display: block;
        }
      }
    </style>
    <div class="row mt-4">
      <div class="col-10 col-lg-6 col-md-6 offset-lg-2 offset-1">
        <h3 class="mb-3">Welcome User on 🌐SocialBook</h3>

        <form
          method="post"
          action="/forgetPass"
          novalidate
          class="needs-validation"
        >
          <div>
            <label for="checkEmail" class="form-label">Enter Username</label>
            <input
              type="text"
              name="checkUsername"
              placeholder="UserName"
              class="form-control"
              id=""
              required
              value="<%= checkUsername %>"
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">UserName required</div>
          </div>

          <div class="mt-3">
            <label for="checkEmail" class="form-label"
              >Enter Email Address</label
            >
            <input
              type="email"
              name="checkEmail"
              placeholder="Email"
              class="form-control"
              id=""
              required
              value="<%= checkEmail %>"
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Email required</div>
            <button class="mt-3 btn btn-success">Send</button>
          </div>
        </form>

        <% if(isOTPsent){%>

        <div class="otpsent Desk mt-3">
          <h4 style="margin-bottom: 0">
            OTP Successfully Sent to <%= targetUser.email %>
          </h4>
        </div>

        <div class="otpsent mob mt-3">
          <h4 style="margin-bottom: 0">OTP Successfully Sent !!!</h4>
        </div>

        <div class="mt-3">
          <form
            method="post"
            id="checkOTPForm"
            action="/forgetPass"
            novalidate
            class="needs-validation"
          >
            <label for="EntdOTP" class="form-label">Enter OTP</label>
            <input
              id="EntdOTP"
              type="text"
              name="EntdOTP"
              class="form-control"
              required
            />
            <input
              type="text"
              id="sendOTP"
              name="sendOTP"
              style="display: none"
              value="<%= sendOTP %>"
            />
            <input
              type="text"
              name="checkUsername"
              style="display: none"
              value="<%= checkUsername %>"
            />
            <input
              type="text"
              name="checkEmail"
              style="display: none"
              value="<%= checkEmail %>"
            />
            <div class="invalid-feedback">OTP required</div>
            <div
              id="invalidOTP"
              style="display: none"
              class="invalid-feedback mb-3"
            >
              <p>Wrong OTP !!!</p>
            </div>
            <button class="btn btn-success mt-3">Verify OTP</button>
          </form>
          <p style="display: none"><%= sendOTP %></p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
  <script>
    let form = document.getElementById("checkOTPForm");
    let sendOTP = document.getElementById("sendOTP");
    let EntdOTP = document.getElementById("EntdOTP");
    let invalidOTP = document.getElementById("invalidOTP");

    form.addEventListener("submit", function (event) {
      event.preventDefault();
      if (EntdOTP.value === sendOTP.value) {
        invalidOTP.style.display = "none";
        form.submit();
      } else {
        invalidOTP.style.display = "block";
      }
    });

    document.addEventListener("DOMContentLoaded", function () {
      `<% if(isOTPsent){ %>`;
      var sucMsg = document.getElementById("manualflashSuccess");
      sucMsg.append("OTP Sent Successfully 😀");
      showAndHide(sucMsg);
      `<% } %>`;
    });

    function showAndHide(element) {
      element.style.opacity = "1"; // Ensure initial opacity is set
      element.style.display = "block";

      setTimeout(function () {
        element.style.opacity = "0";
        setTimeout(function () {
          element.style.display = "none";
        }, 1000);
      }, 3000);
    }
  </script>
</html>
